// Colores
$actbrand: #1A3B6E;
$actbrand-men: #0075BE;
$actbrand-women: #842A82;
$actbrand-senior: #88898B;
$actbrand-complex: #0095D0;
// $actbrand-complex: #26335F;
$actbrand-multi: #E9540D;
// text
$actbrand-text: #88898B;
